.fa-facebook {
    margin-right: 1.5em;
    font-size: 1.5em;
}

.fa-twitter {
    margin-right: 1.5em;
    font-size: 1.5em;
}

.fa-linkedin-in {
    margin-right: 1.5em;
    font-size: 1.5em;
}

.fa-github {
    font-size: 1.5em;
}

.fa-star {
    color: #F59E0B;
}

.fa-star-half-stroke {
    color: #F59E0B;
}